h1= title
p Welcome to #{title}
h2 Users:
- if (users.length)
  dl
  - each user in users
    dt #{user.name}
    dd #{user._id.toHexString()}
    -var uGroup = groups.map(function(a){return a._id.toHexString() == user.group ? a.name : null;}).join(' ');
    -var uid = user._id.toHexString();
    dd #{uGroup}
    dd
      Сертификат
      a(href: '/' + uid + '/' + uid + '.p12') скачать
      &nbsp;
      a(href: 'admin/revokeuser?id=' + uid) отозвать и создать новый
    dd
      a(href: 'admin/removeuser?id=' + uid) remove
- else
  p no users.
h2 Add new user:
form(method: 'post', action: 'admin/adduser')
  div 
    input(type: 'text', name: 'name', placeholder: 'Имя пользователя', size: 30)
    &#160;
    select(name: 'group')
      option
      -if (groups.length)
        - each group in groups
          option(value: group._id.toHexString())#{group.name}
    &#160;
    input(type: 'submit', value: 'Добавить')

h2 Groups:
- if (groups.length)
  dl
  - each group in groups
    dt #{group.name}
    dd #{group._id.toHexString()}
    dd
      a(href: 'admin/removegroup?id=' + group._id.toHexString()) remove
- else
  p no groups.
h2 Add new group:
form(method: 'post', action: 'admin/addgroup')
  div
    div
      input(type: 'text', name: 'name', placeholder: 'Название группы', size: 10)
      &#160;
      input(type: 'submit', value: 'Добавить')

h2 Events:
- if (events.length)
  dl
  - each event in events
    dt #{event.name}
    dd #{event._id.toHexString()}
    dd
      a(href: 'admin/removeevent?id=' + event._id.toHexString()) remove
- else
  p no events.
h2 Add new event:
form(method: 'post', action: 'admin/addevent')
  div
    div
      input(type: 'text', name: 'name', placeholder: 'Название события', size: 10)
      &#160;
      input(type: 'submit', value: 'Добавить')
